<div *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>
<h1 align="center">Welcome {{usersname}}</h1>
<hr width="100%">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="{{userimage}}">
                </div>
                <div class="info">
                    <div class="title">
                        {{usersname}}
                    </div>
                    <div class="desc">Roll no:{{rollno}}</div>
                    <div class="desc">Department:{{depart}}</div>
                    <div class="desc">No of uploads: {{uploads}}</div>
                    <div class="desc">No of downloads: {{downloads}}</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm"
                       href="https://www.facebook.com/siddhanta.mhambrey">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://www.facebook.com/siddhanta.mhambrey">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/siddhanta.mhambrey">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" 
                       href="https://www.facebook.com/siddhanta.mhambrey">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>
    
    